# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
!web/app/plugins/cm_custom_post_types

# Sage
web/app/themes/cmcfarlane/.cache-loader
web/app/themes/cmcfarlane/dist
web/app/themes/cmcfarlane/node_modules
web/app/themes/cmcfarlane/config-local.json
web/app/themes/cmcfarlane/vendor

# WordPress
web/wp
.htaccess*
wp-config*

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

# compressed files
*.zip
*.tar*
