:root {
    --fullscreen-height: 100vh;
    --color-primary: theme('colors.blue.DEFAULT');
    --color-primary-light: theme('colors.blue.light');
    --color-primary-lighter: theme('colors.blue.lighter');
    --color-secondary: theme('colors.cream.DEFAULT');
    --color-secondary-light: theme('colors.cream.light');
    --color-secondary-dark: theme('colors.cream.dark');
    --color-neutral: theme('colors.charcoalBlack.DEFAULT');
    //fonts
    --text-primary: theme('fontFamily.poppins');
    --text-secondary: theme('fontFamily.fira-sans');
    --text-alt: theme('fontFamily.teko');
    --text-logo: theme('fontFamily.montserrat');
}

$screen-sizes: 480, 640, 768, 1024, 1280, 1536;

$screen-xs-min: pixelsToRem(nth($screen-sizes, 1));
$screen-xs-max: pixelsToRem(nth($screen-sizes, 1) - 1);

$screen-sm-min: pixelsToRem(nth($screen-sizes, 2));
$screen-sm-max: pixelsToRem(nth($screen-sizes, 2) - 1);

$screen-md-min: pixelsToRem(nth($screen-sizes, 3));
$screen-md-max: pixelsToRem(nth($screen-sizes, 3) - 1);

$screen-lg-min: pixelsToRem(nth($screen-sizes, 4));
$screen-lg-max: pixelsToRem(nth($screen-sizes, 4) - 1);

$screen-xl-min: pixelsToRem(nth($screen-sizes, 5));
$screen-xl-max: pixelsToRem(nth($screen-sizes, 5) - 1);

$screen-xxl-min: pixelsToRem(nth($screen-sizes, 6) - 1);
